@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400;600&family=Hind+Siliguri&display=swap');
body{
    text-align:center;
    font-family:'Comfortaa', cursive;
    background-color: aliceblue;
}
span{
    font-size: 2rem;
    padding:0.5rem;
    cursor:pointer;
}
h2{
    font-family: 'Dancing Script', cursive;
    padding:2rem;
}
h1{
    padding:1rem;
    color:rgb(66, 66, 47);
}
h3{
    color:rgb(116, 116, 61);
}
input{
    border:1px solid;
    padding:0.5rem;
}